<%
var metadata = {
  project: Object.assign({}, grunt.data.json.project, {
    title: "Election 2024: Balance of power in Congress (embed)",
    description: "",
    embedded: true
  })
};
%>

<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", metadata) %>
    <link rel="stylesheet" type="text/css" href="../style.css">
  </head>
  <body>

    <board-combined></board-combined>

    <script>
      window.PROJECT_ANALYTICS = <%= JSON.stringify(json.project.analytics || {}) %>;
    </script>
    <script src="../embedBOP.js" async></script>

    <%= t.include("partials/_analytics.html") %>
  </body>
</html>