<% 
  var classify = function(str) {
    return str
      .toLowerCase()
      .replace(/\s+/g, "-")
      .replace(/\-\-+/g, "-")
      .replace(/^-+|[^\w\-]|-+$/g, "");
  };

  var states = Object.keys(data).filter(d => !d.includes("-") && !data[d].district && data[d].active === true);
%>

<footer class="mega-nav remove-embedded" role="contentinfo">
<div class="constrained">

  <h3 class="state-hed">2025 General Election Results</h3>

  <div class="state-nav link-block">
    <ul>
    <% states.forEach(function(s) { %>
      <li>
        <a href="<%= classify(data[s].name) + ".html" %>">
          <%= data[s].name %>
        </a>
      </li>
    <% }); %>
    </ul>
  </div>

  <h3 class="more-hed">2025 Election Resources</h3>

  <div class="more-2024 link-block">
    <ul>
      
      <% grunt.data.json.footer.forEach(function(link) { %>
        <li><a href="<%= link.url %>" target="_blank"><%= link.label %></a></li>
      <% }); %>

    </ul>
  </div>

</footer>

<footer class="more" role="contentinfo">
<div class="constrained">
  <div class="credits">
    <h3>Credits</h3>
    <p><%= grunt.data.json.strings["credits"] %></p>

  </div>

  <div class="npr">
    <ul>
      <li><a href="https://www.npr.org/about-npr/179876898/terms-of-use" target="_blank">Terms of Use</a></li>
      <li><a href="https://www.npr.org/about-npr/179878450/privacy-policy" target="_blank">Privacy</a></li>
      <li><a href="https://www.npr.org/about-npr/179878450/privacy-policy#yourchoices" target="_blank">Your Privacy Choices</a></li>
      <li><a href="https://text.npr.org/" target="_blank">Text Only</a></li>
      <li>&copy; 2025 NPR</li>
    </ul>
  </div>
</div>
</footer>