<% 
	const states = grunt.data.json.states;
	const intro = grunt.data.archieml.longform.statePages[state.toLowerCase()] ? grunt.data.archieml.longform.statePages[state.toLowerCase()] : false;
%>

<header>
	<div class="headline">
		<img src="https://apps.npr.org/primary-election-results-2024/assets/states/<%= state %>.svg" alt="" class="state-icon">
		<div>
			<h1><%= states[state].name %><span class=""> election results</span></h1>
			<form class="section-nav">
			<% 
				sections.forEach((section, i) => {
					const sectionName = (section.charAt(0).toUpperCase() + section.slice(1)).replace("-", " ") 
			%>
				<input type="radio" name="nav" id="<%= section %>" value="<%= section %>" <%= i === 0 ? "checked" : "" %>>
				<label for="<%= section %>"><%= sectionName %></label>
			<% }); %>
			</form>
		</div>
	</div>
	<div class="intro-container<%= intro ? ' has-intro' : '' %>">
		<% if (intro) { %>
			<p class="intro"><%= intro %></p>
		<% } %>
		<%= t.include("partials/_stationguides.html", { "state": state, "data": grunt.data.json.gfx_guide }) %>
	</div>
</header>