.footnote {
  font-size: 12px;
  color: #787878;
  max-width: 765px;
  a { 
    text-decoration: none; 
  }
}

.board-footnote {
  clear: both;
  margin: 0 auto;
}

.page-footnote {
  margin: 0 auto 50px;
}

.state-page-footnote {
  max-width: 1040px;
}

.embedded {
  main.embed-bop a.link-container .full-link,
  board-president .full-link a {
    font-size: 14px;
    text-decoration: none;
    color: @accent-dark;

    &:link, &:visited {
      color: @accent-dark;
    }

    &:hover, &:active, &:focus {
      color: @accent-light;
      cursor: pointer;
    }
  }

  main.embed-bop a.link-container:hover .full-link {
    color: @accent-light;
  }
}
