@import "base";
@import "navbar";
@import "footer";
@import "sponsorship";
@import "about-box";
@import "../js/components/results-table/results-table";
@import "../js/components/test-banner/test-banner";

header {
	display: flex;
}

label {
	cursor: pointer;
	&:hover {
		text-decoration: underline;
	}
}

.state-icon {
	height: 60px;
}

h1 {
	text-transform: none;
}

input {
	display: none;
}

label {
	color: @linkblue;
	padding: 0 5px;
}

input:checked + label {
	color: black;
	cursor: default;
	&:hover {
		text-decoration: none;
	}
}

section {
	display: none;
	&.shown {
		display: block;
	}
}

.station-guides {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    @media @mobile-above {
      column-count: 2;
      column-gap: 10px;
    }
  }

  li {
    margin: 0;
    break-inside: avoid;
  }
}
