<%
  var classify = require("./lib/classify");

  const senateData = require("../data/senate.json");
  const stateData = require("../build/data/states/" + key + ".json");

  const offices = {
    "key-races": "key-races",
    "president": "P",
  	"governor": "G",
  	"senate": "S",
  	"house": "H",
  	"ballot-measures": "I"
  }

  let sections = ["key-races", "president"];
  let keyRaceSections = ["president"];

  if (stateData.results.filter(d => d.office === "G").length > 0) {
  	sections.push("governor");
    keyRaceSections.push("governor");
  }
  if (stateData.results.filter(d => d.office === "S").length > 0) {
  	sections.push("senate");
  	keyRaceSections.push("senate");
  }
  if (key != "DC") {
  	sections.push("house");
  }
  if (stateData.results.filter(d => d.office === "I").length > 0) {
  	sections.push("ballot-measures");
  }

  if (stateData.results.filter(d => d.office === "H" && d.keyRace === "yes").length > 0) {
    keyRaceSections.push("house");
  }
  if (stateData.results.filter(d => d.office === "I" && d.keyRace === "yes").length > 0) {
    keyRaceSections.push("ballot-measures");
  }

  const listOfCountyRaces = stateData.results
  .filter(race => race.office === "S" || race.office === "G")
  .map(race => ({
    id: race.id,
    office: race.office,
    seatNumber: race.seatNumber,
    keyRace: race.keyRace
  }));

  // header metadata
  var thisPage = grunt.data.json.states[key].name;

  var { seo, strings } = grunt.data.json;
  var metadata = {
    project: Object.assign({}, grunt.data.json.project, {
      title: seo[key + "Title"] ? seo[key + "Title"] : seo.stateTitle.replace(/%state%/g, thisPage),
      description: seo["description" + key.toUpperCase()] ? seo["description" + key.toUpperCase()] : seo.stateDescription.replace(/%state%/g, thisPage),
      statePath: classify(thisPage) + ".html",
      image: "assets/synced/promos/state-" + key.toLowerCase() + ".png"
    })
  };
%>

<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", metadata) %>
    <link rel="stylesheet" type="text/css" href="state.css">
    <link rel="stylesheet" type="text/css" href="states.css">
    <link rel="stylesheet" type="text/css" href="county.css">
  </head>
  <body>
    <%= t.include("partials/_navbar.html") %>
    <%= t.include("partials/_ad.html", {id: "ad-centerstage"}) %>
    <%= t.include("partials/_about-box.html") %>

    <%= t.include("partials/_statePageHeader.html", {state: key, sections: sections}) %>
    <main class="app constrained">
    	<% sections.forEach(section => { %>
    		<section id="<%= section %>-section" <%= section === "key-races" ? "class='shown'" : "" %>>
    			<% if (section === "key-races") { %>
            <% keyRaceSections.forEach(office => { %>
              <results-collection state="<%= key %>" office="<%= offices[office] %>" key-races-only></results-collection>
            <% }); %>
          <% } else { %>
            <results-collection state="<%= key %>" office="<%= offices[section] %>"></results-collection>
            <% if (section === "president") { %>
              <h3 class="section-hed">Presidential results by county</h3>
              <county-map state="<%= key %>"></county-map>
              <county-dataviz state="<%= key %>"></county-dataviz>
              <results-table-county
              state="<%= key %>"
              race-id="0"
              order="1"></results-table-county>
            <% } %>
            
            <% if (section === "senate" || section === "governor") { %>
              <h3 class="section-hed">Senate results by county</h3>
              <% listOfCountyRaces.filter(race => race.office === offices[section]).forEach((race, index) => { %>
                <%= race.office %>: <%= race.id %>
                <county-map state="<%= key %>" race-id="<%= key %>-<%= race.id %>"></county-map>
                <county-dataviz state="<%= key %>" race="<%= key %>-<%= race.id %>"></county-dataviz>
                <results-table-county
              state="<%= key %>"
              race-id="<%= race.id %>"
              order="1"></results-table-county>
              <% }); %>
            <% } %>
          <% } %>
        </section>
    	<% }); %>
    </main>
    <%= t.include("partials/_ad.html", {id: "ad-secondary"}) %> 
    <%= t.include("partials/_footer.html", {"data": grunt.data.json.states}) %>

    <script>
      window.PROJECT_ANALYTICS = <%= JSON.stringify(grunt.data.json.project.analytics || {}) %>;
    </script>
    <script src="state.js" async></script>

    <%= t.include("partials/_analytics.html") %>
    <%= t.include("partials/_sponsorship.html", { "production": grunt.data.json.project.production }) %>
    <script class="remove-embedded" src="loadHeaderBidding.js" async></script>
    <script>
      var here = new URL(window.location);
    
      if (here.searchParams.has("embedded")) {
        ads = document.querySelectorAll('.remove-embedded')
        ads.forEach(element => {
          element.remove()
        });
      }
    </script>
  </body>
</html>
