<%
  var classify = require("./lib/classify");

  const stateData = require("../build/data/states/" + key + ".json");

  let sections = ["key-races", "president"];
  let keyRaceCollections = ["president"];

  if (stateData.results.filter(d => d.office === "G").length > 0) {
    sections.push("governor");
    keyRaceCollections.push("governor");
  }
  if (stateData.results.filter(d => d.office === "S").length > 0) {
    sections.push("senate");
    keyRaceCollections.push("senate");
  }
  if (key != "DC") {
    sections.push("house");
  }
  if (stateData.results.filter(d => d.office === "I").length > 0) {
    sections.push("ballot-measures");
  }

  if (stateData.results.filter(d => d.office === "H" && d.keyRace === "yes").length > 0) {
    keyRaceCollections.push("house");
  }
  if (stateData.results.filter(d => d.office === "I" && d.featured === "yes").length > 0) {
    keyRaceCollections.push("ballot-measures");
  }
  
  const listOfCountyRaces = stateData.results
  .filter(race => race.office === "S" || race.office === "G")
  .map(race => ({
    id: race.id,
    office: race.office,
    seatNumber: race.seatNumber,
    keyRace: race.keyRace
  }));

  // header metadata
  var thisPage = grunt.data.json.states[key].name;

  var { seo, strings } = grunt.data.json;
  var metadata = {
    project: Object.assign({}, grunt.data.json.project, {
      title: seo[key + "Title"] ? seo[key + "Title"] : seo.stateTitle.replace(/%state%/g, thisPage),
      description: seo["description" + key.toUpperCase()] ? seo["description" + key.toUpperCase()] : seo.stateDescription.replace(/%state%/g, thisPage),
      statePath: classify(thisPage) + ".html",
      image: "assets/synced/promos/state-" + key.toLowerCase() + ".png"
    })
  };
%>

<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", metadata) %>
    <link rel="stylesheet" type="text/css" href="state.css">
    <link rel="stylesheet" type="text/css" href="county.css">
  </head>
  <body>
    <%= t.include("partials/_navbar.html") %>
    <%= t.include("partials/_ad.html", {id: "ad-centerstage"}) %>
    <%= t.include("partials/_about-box.html") %>

    <%= t.include("partials/_statePageHeader.html", {state: key, sections: sections}) %>
    <main class="app constrained">
      <state-page-results state="<%= key %>" key-race-collections='<%= JSON.stringify(keyRaceCollections).replace(/'/g, "&#39;") %>' sections='<%= JSON.stringify(sections).replace(/'/g, "&#39;") %>' county-races='<%= JSON.stringify(listOfCountyRaces).replace(/'/g, "&#39;") %>'></state-page-results>

      <p class="source-footnote">
        <strong>Notes:</strong>
        <%= t.smarty(grunt.data.json.strings.eevp_footnote) %>
        <%= t.smarty(grunt.data.json.strings.sources) %>
        <%= t.smarty(grunt.data.json.strings.trends_footnote) %>
        <%= t.smarty(grunt.data.json.strings.unemployment_footnote) %>
        <%= t.smarty(grunt.data.json.strings.margins_footnote) %>
      </p>
    </main>
    <div class="remove-embedded">
    <%= t.include("partials/_ad.html", {id: "ad-secondary"}) %> 
    <%= t.include("partials/_footer.html", {"data": grunt.data.json.states}) %>
  </div>
    <script>
      window.PROJECT_ANALYTICS = <%= JSON.stringify(grunt.data.json.project.analytics || {}) %>;
    </script>
    <script src="state.js" async></script>

    <%= t.include("partials/_analytics.html") %>
    <%= t.include("partials/_sponsorship.html", { "production": grunt.data.json.project.production }) %>
    <script class="remove-embedded" src="loadHeaderBidding.js" async></script>
    <script>
      var here = new URL(window.location);
    
      if (here.searchParams.has("embedded")) {
        ads = document.querySelectorAll('.remove-embedded')
        ads.forEach(element => {
          element.remove()
        });
      }
    </script>
  </body>
</html>
