<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="customizer.css">
    <base target="_blank">
  </head>
  <body>

    <div id="bop-embed-wrapper">
      <div id="bop-wrapper"></div>   
    </div>

    <script>
        window.PROJECT_ANALYTICS = <%= JSON.stringify(json.project.analytics || {}) %>;
    </script>
    <script>
        function buildComponents() {
          const params = new URLSearchParams(window.location.search);
          const races = params.get('races')?.split(',') || ['president']; // Default to senate if no races
          
          const component = races.includes('combined') 
            ? `<balance-of-power-bar></balance-of-power-bar>`
            : `<balance-of-power-bar race="${races.join(' ')}"></balance-of-power-bar>`;

          const container = document.getElementById('bop-wrapper');
          if (container) {
            container.innerHTML = component; // Remove the join() since it's just one string
          }
        }
      
        // Run when page loads
        window.addEventListener('DOMContentLoaded', buildComponents);
      </script>
    <script src="app.js" async></script>
    <%= t.include("partials/_analytics.html") %>
  </body>
</html>
