<%
var states = grunt.data.json.states;
var races = grunt.data.json.races;
%>

<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    
    <title>Election 2025 embed customizer : NPR</title>
    
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="https://media.npr.org/templates/favicon/favicon-180x180.png" />
    <link rel="icon" sizes="96x96" href="https://media.npr.org/templates/favicon/favicon-96x96.png" />
    <link rel="icon" sizes="32x32" href="https://media.npr.org/templates/favicon/favicon-32x32.png" />
    <link rel="icon" sizes="16x16" href="https://media.npr.org/templates/favicon/favicon-16x16.png" />
    
    <!-- Safari, you're the worst -->
    <meta name='format-detection' content='telephone=no'>
    
    <%= t.include("partials/_webfonts.html") %>
  
    <!-- <link rel="stylesheet" type="text/css" href="style.css"/> -->
    <link rel="stylesheet" type="text/css" href="customizer.css"/>

    <script src="customizer.js"></script>
    <script src="app.js"></script>
  </head>
  <body>

    <script>
      document.body.classList.add(
        new URL(window.location).searchParams.get("theme")
      );
    </script>


    <nav class="results-nav">
      <div class="results-logo">
        <a href="https://www.npr.org/sections/elections/">
          <img src="assets/elections-2024-logo-color-horizontal.svg" alt="2024 Elections" />
        </a>
        <hr aria-hidden="true" />
        <a href="https://npr.org"><img src="./assets/logo.svg" alt="NPR" /></a>
      </div>
    </nav>
    
    
    <main class="customizer">
      <h2>Customize your embed</h2>
      <div id="formContainer">
        <form>
          <div id="embedType">
          <!-- <label>
            <input
              type="radio"
              name="selection"
              value="index"
            />
            President
          </label>
          <label>
            <input
              type="radio"
              name="selection"
              value="governors"
            />
            Governor
          </label>
          <label>
            <input
              type="radio"
              name="selection"
              value="senate"
            />
            Senate
          </label>
          <label>
            <input
              type="radio"
              name="selection"
              value="house"
            />
            House
          </label> -->
          <label>
            <input
              type="radio"
              name="selection"
              value="state"
            />
            State Page
          </label>
          <label>
            <input
              type="radio"
              name="selection"
              value="race-embed"
            />
            Individual state-level race
          </label>
          <!-- <label>
            <input
              type="radio"
              name="selection"
              value="bop"
            />
            Balance of Power
          </label>
          <label>
            <input
              type="radio"
              name="selection"
              value="presidentMaps"
              onclick="handleSelection('presidentMaps')"
            />
            Presidential Maps
          </label> -->
          <div
            id="stateConfig"
            class="hidden"
          >
            <label
              >State:
              <select id="stateSelect">
              <% 
              
              const allowedStates = ["CA","CO","NJ","NY","VA"]
              
              Object.keys(states).forEach( state => { 

                if (allowedStates.includes(state)) {

                %>
                
                <option value="<%= state %>,<%= states[state]["name"] %>"><%= states[state]["name"] %></option>
                <% }}) %>
              </select></label
            ><div id="stateSectionContain"><br /><label
              >Default section:
              <select id="stateSectionSelect">
              </select></label
            ></div><div id="stateRaceContain"><br /><label
            >Race:
            <select id="stateRaceSelect">
            </select></label
          ></div><br /><label id="showStateHeader"
            >Show state header?
          <input class="nestedCheckbox" type="checkbox" id="stateHeaderTrue" checked/></label>
          </div>
        </form>
        <form>
          <div
            id="checkboxSection"
            class="hidden"
          >
            <h4>Select races to include</h4>
            <label
              ><input
              checked 
                type="checkbox"
                value="president"
                onchange="handleSelection('bop')"
                class="nestedCheckbox"
              />President</label
            ><label
              ><input
               checked 
                type="checkbox"
                value="senate"
                onchange="handleSelection('bop')"
                class="nestedCheckbox"
              />Senate</label
            ><label
              ><input
              checked 
                type="checkbox"
                value="house"
                onchange="handleSelection('bop')"
                class="nestedCheckbox"
              />House</label
            >
          </div>
          <div id="presidentOptions" class="hidden">
            <h4>Select initial tab</h4>
            <label>
              <input
                checked 
                type="radio"
                name="presidentMaps"
                value="national"
                onchange="handleSelection('presidentMaps')"
                class="nestedCheckbox"
              />National Map</label>
            <label>
              <input
                type="radio"
                name="presidentMaps"
                value="cartogram"
                onchange="handleSelection('presidentMaps')"
                class="nestedCheckbox"
              />Electoral Map</label>
            <% if (grunt.data.json.strings.showBubbles == "yes") { %>
              <label>
              <input
                type="radio"
                name="presidentMaps"
                value="bubbles"
                onchange="handleSelection('presidentMaps')"
                class="nestedCheckbox"
              />Margin Bubbles</label>
            <% } %>
          </div>
        </form>
      </div>

      <h2>Embed code</h2>
      <div class="embeds">
        <div>
          <label for="pym">Pym (most common)</label>
          <textarea id="pym"></textarea>
        </div>

        <div>
          <label for="sidechain">Sidechain</label>
          <textarea id="sidechain"></textarea>
        </div>
      </div>

      <h2>Preview</h2>

      <side-chain></side-chain>
    </main>

    <script>
      var PROJECT_URL = "<%= grunt.data.json.project.url %>";
      window.PROJECT_ANALYTICS = <%= JSON.stringify(json.project.analytics || {}) %>;
    </script>

  </body>
</html>
