<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <%= cssLinks %>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <p>Hi, this is read</p>
    <balance-of-power></balance-of-power>
    <!-- 
    <balance-of-power race="senate" data='{"Dem":{"total":48},"GOP":{"total":50},"Ind":{"total":2},"notCalled":0}'></balance-of-power> 
    <!--> 

    <script>
        window.PROJECT_ANALYTICS = <%= JSON.stringify(json.project.analytics || {}) %>;
    </script>
    <script src="app.js" async></script>
    <%= t.include("partials/_analytics.html") %>
  </body>
</html>