<%
var thisPage = "president";
var { seo, strings } = grunt.data.json;
var metadata = {
  project: Object.assign({}, grunt.data.json.project, {
    title: seo[thisPage + "Title"] ? seo[thisPage + "Title"] : seo["defaultTitle"],
    description: seo[thisPage + "Description"],
    image: "assets/synced/" + thisPage + "-results.jpg"
  })
};
%>

<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", metadata) %>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <%= t.include("partials/_navbar.html") %>
    <%= t.include("partials/_ad.html", {id: "ad-centerstage"}) %>
    <%= t.include("partials/_about-box.html") %>
    <main class="centered-page app constrained">

      <board-president></board-president>

      <p class="footnote page-footnote">
        <strong>Notes:</strong>
        <%= t.smarty(grunt.data.json.strings.eevp_footnote) %>
        <%= t.smarty(grunt.data.json.strings.president_footnote) %>
      </p>
    </main>
    <div class="remove-embedded">
    <%= t.include("partials/_ad.html", {id: "ad-secondary"}) %> 
    <%= t.include("partials/_footer.html", {"data": grunt.data.json.states}) %>
  </div>
    <script>
      window.PROJECT_ANALYTICS = <%= JSON.stringify(json.project.analytics || {}) %>;
    </script>
    <script src="app.js" async></script>

    <%= t.include("partials/_sponsorship.html", { "production": json.project.production }) %>
    <%= t.include("partials/_analytics.html") %>
    <script class="remove-embedded" src="loadHeaderBidding.js" async></script>
    <script class="remove-loading" src="removeLoadingScreen.js" async></script>
    <script>
      var here = new URL(window.location);
    
      if (here.searchParams.has("embedded")) {
        ads = document.querySelectorAll('.remove-embedded')
        ads.forEach(element => {
          element.remove()
        });
      }
    </script>
  </body>
</html>
