<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="president.css">
  </head>
  <body>
    <div >
    </div>

    <main class="app constrained">
     <div style="border: 1px solid #333; margin-bottom: 10px; padding: 20px;">
      <board-president></board-president>
      <cartogram></cartogram>
    </div>
    </main>
    <script>
        window.PROJECT_ANALYTICS = <%= JSON.stringify(json.project.analytics || {}) %>;
    </script>
    <script src="app.js" async></script>
    <%= t.include("partials/_analytics.html") %>
  </body>
</html>
